<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>

<header class="w3-card w3-margin-top w3-container w3-center w3-padding-32 w3-margin"
        style="height: 100%; background-image: url('barbed.jpg');background-size: cover; background-position: center;">
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card"
                style="height: 100%; font-family: 'Franklin Gothic Book'; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                <b>Detained In Danger</b></h1>
            <p class="w3-container w3-card"
               style="font-size: auto; border: 1px solid #bc541e;float: right; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                Compiled by the <b>Kathryn Kuhar</b><br>under the auspices of <b>Human Rights First</b></p>
        </div>
    </div>

    <div class="w3-row l8 s12">
        <div class="w3-container w3-card w3-left"
             style="display: inline-block; border: 1px solid #f1ac7b; background-color: white; opacity: 0.92; margin: 30px; padding: 15px; ">
            <div class="title" style="padding-bottom: 50px;">
                <h1 style="float: left; font-family: 'Franklin Gothic Book';"><b>Adelanto:
                        A COVID-free ICE Detention Center?</b></h1>
            </div>
        </div>
    </div>
</header>


<div class="w3-padding-32 w3-center" style="display: inline-block; background: white; margin: 30px; padding: 2%">
    <div class="w3-col l6 s12">

        <p style="font-size: medium; text-align: justify">
            Adelanto ICE Processing Center is one of roughly 100 ICE detention centers across the country that have not
            reported a COVID-19 cases among its detainees, despite the virus sweeping through the country. The sprawling
            facility is run by GEO Group, a private prison company contracted to manage ICE detainees. Adelanto is the
            largest ICE detention facility in California. As of April 23, 2020, Adelanto’s facility held <a
                    href="https://www.desertsun.com/story/news/politics/immigration/2020/05/01/adelanto-detention-center-only-6-immigrants-tested-covid-19-ice-says/3065226001/"
                    style="color:#275889">1,295 ICE
                detainees, six of whom were tested for COVID-19</a>. Since then, ICE announced that one guard who worked
            at
            Adelanto had tested positive for the virus, but maintains that no detainees have the deadly virus.

            <br><br>

            <a href="https://www.humanrightsfirst.org/resource/public-health-experts-medical-doctors-prison-experts-and-former-ice-officials-urge-releases"
               style="color:#275889">Experts have warned</a> of the possibility of COVID-19 spreading like wildfire
            amongst incarcerated
            populations.The health situation at Adelanto is especially concerning since the facility has a history of
            inadequate medical care. A 2018 report from the <a
                    href="https://www.oig.dhs.gov/sites/default/files/assets/2018-10/OIG-18-86-Sep18.pdf"
                    style="color:#275889">Office of the Inspector General of the Department of
                Homeland Security</a> listed “failure to provide timely and adequate medical care for detainees” and
            found that
            some detainees had to wait months to see doctors, citing 80 medical grievances filed between November 2017
            and April 2018. Luis Lopez Salgado, a former detainee who entered Adelanto in August 2018, said in an
            interview that medical delays continued to be a major problem during his time in the facility, waiting a
            week to get treated for the flu. This sentiment was echoed by other detainees who reported in declarations
            from April 2020 that medical problems are not taken seriously “unless you have collapsed or are
            unconscious.” Meanwhile, ICE claims that “comprehensive medical care is provided to all individuals in ICE
            custody to ensure everyone in our custody receives timely access to services and treatment, which includes
            access to daily sick call and 24-hour emergency care.” Before Salgado was released as part of an ACLU
            lawsuit on April 3, 2020, he was “really scared” that he would get COVID-19 and die in Adelanto.

            <br><br>

            The ACLU and other immigration advocacy groups, including Human Rights First, have been suing to have
            detainees with underlying conditions released from ICE detention. Four women were <a
                    href="https://www.humanrightsfirst.org/press-release/immigrants-released-ice-detention-federal-covid-19-lawsuit-brought-human-rights-first"
                    style="color:#275889">released from Adelanto</a> on
            April 10th because of a suit filed by Human Rights First.

            <br><br>

            Multiple people who were detained in Adelanto in March and April said that little changed inside the
            detention center despite the drastic actions that were being taken around the country to curb the spread of
            COVID-19. Detainees learned about the virus from the news while ICE was slow to react and provided detainees
            with little, if any, guidance on how to effectively protect themselves from getting sick. Robert*, a
            detainee who was in Adelanto for over three years, described how ICE tried to implement social distancing
            guidelines at meals. In an interview, he explained how stickers were placed on certain seats in the dining
            hall and the detainees were let into the room in smaller groups than usual. But he says this new system
            initially only lasted for one day, and after that the dining hall was full again. He thinks the leadership
            at the facility was not taking the situation seriously and, therefore, did not put sustained effort into
            protecting the detainees.

            <br><br>

            Robert also described a lack of cleaning supplies, a concern echoed by Salgado and other detainees. Both men
            described in interviews how detainees were expected to clean the facility but did not have access to
            adequate soap and disinfectant. Salgado explained that he asked a guard for more cleaning supplies and was
            told to use shampoo. ICE maintains that it is “fully committed to ensuring that those in our custody reside
            in a safe, secure, and clean environment.” When asked what ICE could have done to ameliorate the panic
            caused by COVID-19, he answered that he would have felt safer “if they would have responded quicker to
            little things like getting cleaning supplies.”

            <br><br>

            In the month since Salgado was released, ICE has changed it’s disinfectant process at Adelanto and is now
            accused of spraying toxic chemicals in an effort to limit the spread of the virus. According to a <a
                    href="https://www.documentcloud.org/documents/6923000-Adelanto-CRCL-Complaint-052120.html"
                    style="color:#275889">complaint</a>
            filed by The Inland Coalition for Immigrant Justice and Freedom for Immigrants, since May 11, guards have
            started spraying HDQ Neutral disinfectant inside the facility. “They spray it on the phones, chairs, tables,
            every 15-20 minutes - all day & all night long,” said one detainee. Headaches, bloody noses, trouble
            breathing and burning eyes have been reported since the spray began being used in living areas. In an
            emailed statement, ICE spokesperson Alexx Pons stated “Disinfectant formulations used at Adelanto are
            compliant with detention standards, registered by the Environmental Protection Agency (EPA), and used
            according to manufacture instructions for routine cleaning and maintenance of the facility. Any assertion or
            claim to the contrary is false.”

            <br><br>

            And yet despite all the health concerns at Adelanto, ICE has not stopped transferring people into the
            facility. Robert was told that newcomers were isolated for 14 days before being housed with the general
            population in Adelanto, but when he spoke to the new detainees, they contradicted the guards and said they
            had not been isolated. This only added to the sense of fear within the segmented facility. Detainees were
            distrustful of official reports that said there was no COVID-19 in Adelanto. Robert also described a group
            of older men who were to be moved to a new part of the facility, presumably because they were a higher risk
            population, but they were scared by the prospect of living with a new group of people.They were confident
            their pod had no cases but were afraid people in other parts of the facility might be infected. A judge
            authorized a preliminary injunction which stopped the transfer of people into Adelanto on April 23, but the
            ruling was <a
                    href="https://www.latimes.com/california/story/2020-05-05/judge-ordered-ice-release-california-immigrants-overruled-detainees-will-stay-put"
                    style="color:#275889">overturned</a> by the 9th Circuit Court of Appeals on May 5.

            <br><br>

            When asked about concerns related to transfers, Pons replied with a laundry-list of reasons why a person
            could be transferred, including “to provide appropriate medical or mental health care to the detainee; to
            fulfill an approved transfer request by the detainee; to protect the safety and security of the detainee,
            other detainees, or detention personnel.” The spokesperson also noted that ICE’s “proactive measures”
            include, “cohorting or isolating new admissions into the detention network for 14 days before placing them
            into general population.”

            <br><br>

            As of late May, ICE has only tested about <a
                    href="https://www.inquirer.com/news/ice-detention-coronavirus-covid-19-pike-berks-pennsylvania-migrant-immigration-20200519.html"
                    style="color:#275889">8% of the 27,908</a> people in its custody. Over a thousand ICE
            detainees have tested positive for COVD-19, and yet testing is still not widespread, suggesting there are
            far more detainees who actually have the virus. Adelanto is one of many ICE facilities which claims to have
            no COVID-19 cases, but has extremely low testing numbers. ICE’s response to the unprecedented health crisis
            has put extra stress on detainees, many of whom are already concerned about their health due the poor
            baseline of care that is provided in the facility. Meanwhile ICE maintains that it “ takes very seriously
            the health, safety and welfare of those in our care.” Two people in ICE detention have died of COVID-19 as
            of May 25, 2020.

            <br><br>

            *Robert is a pseudonym


        </p>
    </div>
    <div class="w3-col l6 s12">
        <div class="img" style="padding:0px">
            <figure>
                <img src="medicine.jpg" alt="Trulli" style="width:90%; margin: 20px;">
                <br>
                <figcaption>Many detainees report that they have not received adequate medical attention while in
                    Adelanto.
                </figcaption>
            </figure>
        </div>

    </div>
</div>


</html>