<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>

<header class="w3-card w3-margin-top w3-container w3-center w3-padding-32 w3-margin"
        style="height: 100%; background-image: url('barbed.jpg');background-size: cover; background-position: center;">  
    <div class="title">
        <h1 class="w3-container w3-card"
            style="height: 100%; font-family: 'Franklin Gothic Book'; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
            <b>Detained In Danger</b></h1>
        <p class="w3-container w3-card"
            style="font-size: auto; border: 1px solid #bc541e;float: right; background-color: white; opacity: .90; margin: 20px; padding: 15px">
            Compiled by the <b>Harvard College Data Analytics Group</b><br>under the auspices of <b>Human Rights First</b></p>
    </div>
</header>

<div class="w3-card w3-center" style="display: inline-block; background: white; margin: 30px; padding: 2%">
    <div class="title" style="padding-bottom: 50px;">
        <h1 style="float: left; font-family: 'Franklin Gothic Book';"><b>"Adelanto:
                A COVID-free ICE Detention Center?</b></h1>
        <p style="text-align: center; float: right; padding-top: 10px;">
        <span class="hcdagheader" style="display: inline-block; padding: 10px;">Compiled by the <b>Harvard
            College Data Analytics Group</b><br>under the auspices of <b>Human Rights First</b></span></p>
    </div>
</div>

    <div class="w3-padding-32 w3-center" style="display: inline-block; background: white; margin: 30px; padding: 2%">
        <div class="w3-col l6 s12">

            <p style="font-size: medium; text-align: left"> Google “COVID-19 in ICE Detention Centers.” Each result
                replicates a common
                theme: these detention centers are <a
                        href="https://www.politico.com/news/magazine/2020/05/05/coronavirus-ice-detention-rural-communities-186688" style="color:#275889">“like
                    Petri dishes for the virus.”</a> ICE Detention Centers did not have
                a reputation for cleanliness or humaneness before COVID-19 broke out, and the current pandemic has only
                highlighted the pre-existing vulnerabilities of the ICE detainee population. Subjugated to packed cell
                blocks, sharing dirty communal bathrooms, and lacking adequate access to testing PPE, ICE detainees have
                experienced the madness and anxiety of the COVID-19, unlike anything the American public could imagine.
                <br><br>


                The media has devoted weeks of coverage to New York City--the epicenter of the pandemic. Americans have
                sent compassion and sympathy to their countrymen, clinging to their sanity in shoebox apartments. As
                difficult as confinement is in these confined homes, ICE detainees face an even grimmer reality. The
                average household size in New York City is 2.42 residents living in 866 square feet. Detainees in Otay
                Mesa Detention Center share 250 square feet between 6-8 person cells. As attorney Ginger Jacobs reports,
                “social distancing is impossible.”

                <br><br>

                Further exacerbating conditions, detainees held in locations throughout the country report poor
                sanitation. Most detention centers refuse to provide hand sanitizer due to the alcohol content, while
                soap dispensers have reportedly run low. Masks, although distributed, are rationed. Complying with CDC
                recommendations, ICE ceded visitation hours, so no oversight over these conditions exists.

                <br><br>

                Given these conditions, the confirmation of 1,163 cases among ICE detainees comes at no surprise. As the
                map demonstrates, these cases are disproportionately concentrated in a select number of facilities; just
                7 detention centers account for half of all cases. Perhaps even more concerning, ICE has only tested
                2,328, which yields a positivity rate of nearly 50%. In comparison, the United States general public has
                reduced its test-positivity rate to almost 10%. The World Health Organization and Harvard epidemiologist
                William Hanage both recommend targeting a 10% positivity rate benchmark--maximum. ICE’s test-positivity
                rate is a far cry from 10%.

                <br><br>


                The test-positivity rate is a valuable metric. When tests are rationed, typically the criteria only
                include the most vulnerable, symptomatic individuals. Indeed, ICE medical facilities have a reputation
                for denying adequate care to detainees, which would not be expected to improve in a time of crisis.
                Based on preliminary data, the <a
                        href="https://www.politico.com/news/magazine/2020/05/05/coronavirus-ice-detention-rural-communities-186688" style="color:#275889">strong
                    correlation</a> between case growth and test growth indicates that if
                ICE tested more people, the total number of confirmed positive detainees would likely increase.

                <br><br>

                Thus, our map does not tell the entire story. In order to better understand this hidden epidemic, ICE
                must first increase its testing capacity.

                <br><br>

                Furthermore, the data published by ICE is obscured by the exclusion of information on US Marshall
                Service inmates and prison staff. The US Marshall Service has yet to report detention-center specific
                data on confirmed COVID-19 cases, so while the map exposes the COVID-19 crisis among ICE detainees
                specifically, the map cannot present a clear metric for the level of anxiety and sickness within each
                detention center.

            </p>
        </div>
        <div class="w3-col l6 s12">
            <div class="img" style="padding:0px">
                <figure>
                    <img src="../resources/cellSize.png" alt="Trulli" style="width:90%; margin: 20px;">
                    <br>
                    <figcaption>Caption goes here.</figcaption>
                </figure>
            </div>

            <div class="img" style="padding:0px">
                <figure>
                    <img src="../resources/positivityRate.png" alt="Trulli" style="width:100%; margin: 20px;">
                    <br>
                    <figcaption>Caption goes here.</figcaption>
                </figure>
            </div>

        </div>
   </div>


</html>