<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<header class="w3-container w3-center w3-padding-32">    
    <div class="w3-card w3-center" style="background: white; margin: 30px; padding: 2%">
        <div class="title" style="padding-bottom: 50px;">
            <h1 style="float: left;"><b>ICE COVID-19 Information</b></h1>
            <p style="text-align: center; float: right; padding-top: 10px;">
            <span class="hcdagheader" style="display: inline-block; padding: 10px;">Compiled by <b>Human Rights First and the Harvard 
                College Data Analytics Group</b></span></p>
        </div>
      <div class="w3-container">
    <p style="font-size: medium;"> This database tracks instances of COVID-19 in ICE detention centers across the country. To date, ___ ICE detainees have tested positive for COVID-19. This number continues to rapidly climb as facilities cramp detainees into small shared living spaces and ration PPE. In early May, the inevitable occured: after being denied release, the first ICE detainee tragically passed away from COVID-19.
        The map below provides an opportunity to learn about how the pandemic has infiltrated each ICE detention center differently. We then report data on testing administration and bring the map to life by tracking the lived experiences of detainees held at three key detention centers: Otay Mesa, Adelanto and __.</p>
    </div></div>
  </header>
</html>