<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>

<body class="w3-white">
<header class="w3-card w3-margin-top w3-container w3-center w3-padding-32 w3-margin"
        style="height: 100%; background-image: url('barbed.jpg');background-size: cover; background-position: center;">
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card" onclick="window.location.href = '/'"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px; cursor: pointer;">
                <b>Detained In Danger: </b> <br> The COVID-19 Epidemic Inside ICE Facilities</h1>
                <p class="w3-container w3-card"
                style="font-size: auto; height: 100%; width: auto; border: 1px solid #bc541e;float: right; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                 Compiled by <b>Anna Duffy </b><br>under the auspices of <b>Human Rights First</b></p>
        </div>
    </div>
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                <b>What ICE’s Numbers Tell Us. And What They Don’t</b>.</h1>
        </div>
    </div>
</header>


<div class="w3-padding-32 w3-center" style="display: inline-block; margin: 30px; padding: 2%">
    <div class="w3-col l6 s12">
        <p style='text-align: right'>
            <i style='font-size: medium'>June 9th, 2020</i>

            <br><br>
        </p>
        <p style="font-size: medium; text-align: justify">
            
            Hidden behind barbwire fences and concrete walls, the pandemic has transformed ICE Detention Centers 
            into black holes--and viral breeding grounds.  

            <br><br>

            Even before COVID-19, ICE Detention Centers gained a reputation as uncleanly and inhumane. Last summer, 
            the Department of Homeland Security Inspector General found 
            <a href='https://www.oig.dhs.gov/sites/default/files/assets/2019-06/OIG-19-47-Jun19.pdf' style="color:#275889; font-weight: bold">“egregious violations”</a>
             in four detention centers, 
            including food safety violations, nutritional shortages, insufficient hygiene items, and poor medical care. 
            The agency found “unsafe and unhealthy conditions of varying degrees at all of the facilities we visited.” 

            <br><br>
            
            The current pandemic has only augmented the pre-existing vulnerabilities of the ICE detainee population. 
            Subjugated to packed cell blocks, sharing dirty communal bathrooms, and lacking adequate access to testing 
            PPE, ICE detainees have experienced the madness and anxiety of the COVID-19 unlike anything imaginable to the 
            American public. The media spent weeks covering New York City--the epicenter of the pandemic.
             <a href="https://www.wsj.com/articles/new-yorkers-are-giving-more-despite-coronavirus-hardships-11591711203" style="color:#275889; font-weight: bold">An outpour</a>
             of compassion, donations, and supplies from across the country followed. Americans sympathized with New Yorkers, 
            quarantined inside shoebox apartments. 

            <br><br>
            
            But as the pandemic rips through prisons and detention centers across the country, the media coverage has 
            hardly covered an even grimmer reality: life in the ICE cell block. Compared to the average New Yorker,
            ICE detainees are condemned to small, large-group living arrangements. While in New York City, the median household of 
            <a href='https://www.census.gov/programs-surveys/nychvs.html' style="color:#275889; font-weight: bold">2.42 people</a>
             lives in 
            <a href='https://www.rclco.com/publication/honey-i-shrunk-the-apartments-average-new-unit-size-declines-7-since-2009/' style="color:#275889; font-weight: bold">866 square feet</a>
            , most detainees in Otay Mesa Detention Center split 250 square feet between 8-person cells, according to court 
            documents. Others cram into poorly ventilated 2-person cells. Detainees from different cells share communal bathrooms 
            with upwards of 90 people. 

            <br><br>
            
            Immigration attorney Ginger Jacobs says, “social distancing is impossible.” 

            <br><br>
            
            Further exacerbating conditions, detainees held across the country report inadequate sanitation. ICE refuses to 
            distribute 
            <a href='https://www.npr.org/2020/05/16/857338437/one-man-describes-his-experience-in-ice-facility-amid-pandemic' style="color:#275889; font-weight: bold">hand sanitizer</a> 
             due to the alcohol content, while soap dispensers reportedly run low. Ms. Jacobs shares, 
            “the replenishment of soap largely depends on the guard on-duty.” Access to masks depends on the facility; at 
            <a href='https://www.npr.org/2020/05/16/857338437/one-man-describes-his-experience-in-ice-facility-amid-pandemic' style="color:#275889; font-weight: bold">
                Elizabeth Detention Facility</a>
             in New Jersey fails to provide masks, while Otay Mesa Detention Facility in California distributes
             single-use disposable masks every two weeks. The conditions are deadly.

             <br><br>
            
            Given these conditions, the <b><span id="positives"></span> positive cases</b>
             among ICE detainees come at no surprise. When an outbreak occurs, facility workers carry the virus home to their 
            families and communities. 

            <br><br>

            Worse yet, 
            <a href='https://www.aila.org/infonet/deaths-at-adult-detention-centers' style="color:#275889; font-weight: bold">three former detainees have already died from COVID-19 complications.</a>
             The first, Carlos Ernesto 
            Escobar-Mejia, detained at Otay Mesa Detention Center, was pronounced dead on May 6, 2020. The second, Oscar 
            Lopez Acosta, was released from Murrow County Correctional Facility and soon after tested positive for the virus. 
            The third, Santiago Baten-Oxlaj, a 34-year-old immigrant detained in Stewart Detention Center, died on May 24, 2020.

            <br><br>

            <a href='https://www.ice.gov/coronavirus' style="color:#275889; font-weight: bold">ICE data</a>
             only reports two of these three deaths. Why? Acosta was no longer in ICE custody at the time of his 
            <a href='https://www.ice.gov/coronavirus' style="color:#275889; font-weight: bold">hospitalization.</a>
             Cases from the 12,000 former detainees deported or released from facilities since the pandemic outbreak is not 
            included in ICE data. Upon arrival to Guatemala in April, 
            <a href='https://apnews.com/3fc1b1e71ea456f7a3aed1c1b2b9de66' style="color:#275889; font-weight: bold">71 of 76 migrants</a>
             deported on a single flight tested 
            positive for COVID-19. Reports like these confirm the statistical gaps in ICE reporting. How many cases and deaths 
            have gone unaccounted for? 

            <br><br>

            Meanwhile, ICE has closed accountability channels by discontinuing visitation hours, limiting attorney access, and 
            banning tours by Congress and oversight groups. With detention centers shut off from the outside world, data and 
            reporting disproportionately rely on information from ICE, privately run detention facilities, and correctional officers. 
            Courts have questioned ICE’s data; in an ACLU-driven lawsuit in Maryland, the federal district court judge reproved 
            sworn testimony from ICE Deputy Assistant Director for Healthcare Compliance Jennifer Moon as 
            <a href='https://www.aclu.org/news/immigrants-rights/ices-lack-of-transparency-about-covid-19-in-detention-will-cost-lives/' style="color:#275889; font-weight: bold">
            “demonstrably false.”</a>

            <br><br>

            Perhaps even more concerning, ICE has only tested  
            <a href='https://www.ice.gov/coronavirus' style="color:#275889; font-weight: bold">5,096 detainees nationwide</a>
            , yielding a test-positivity rate of 34%. In comparison, 
            <a href='https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/testing-in-us.html' style="color:#275889; font-weight: bold">the CDC</a>
             reports that the United States reduced its test-positivity rate to almost 10%. 
             <a href='https://coronavirus.jhu.edu/testing/testing-positivity' style="color:#275889; font-weight: bold">The World Health Organization</a>
              recommends targeting a 5% positivity rate benchmark. ICE’s test-positivity rate soars past the benchmark.

            <br><br>

            The test-positivity rate is a valuable metric. Typically, only highly symptomatic individuals with pre-existing conditions 
            can access rationed tests. Based on preliminary data, the 
            <a href='https://www.politico.com/news/magazine/2020/05/05/coronavirus-ice-detention-rural-communities-186688' style="color:#275889; font-weight: bold">strong correlation</a>
             between case growth and test growth indicates that if ICE tested more people, the total number of confirmed positive 
             detainees would increase. 

            <br><br>

            Furthermore, the data published by ICE is obscured by the exclusion of information on US Marshals Service and county 
            jail inmates and staff. Many immigrants in ICE’s primarily civil system are held in local jails or private prisons 
            alongside criminal offenders. The US Marshals Service has yet to report COVID-19 data, and testing information on 
            county jails varies by jurisdiction. While the DetainedInDanger map highlights the outbreaks among ICE detainees, 
            the map cannot clearly indicate the extent to which the epidemic has impacted the entirety of each facility.  

            <br><br>
            
            Thus, the map does not tell the entire story. In order to better understand this hidden epidemic, more tests and 
            information are needed.
            
            <br><br>

            Meanwhile, the COVID-19 continues to devastate entire detention centers. ICE deports the virus to Central 
            American countries, transfers detainees between facilities, rations PPE, and rejects detainee release requests. 
            Those in ICE custody are overwhelmingly immigrants and asylum seekers held for civil offenses: processing at the border, 
            asylum hearings, or administrative reasons. Research confirms they present a limited flight risk and no danger to the 
            American public. Even John Sandweg, former acting director of ICE, has called for the 
            <a href='https://www.theatlantic.com/ideas/archive/2020/03/release-ice-detainees/608536/' style="color:#275889; font-weight: bold">release of detainees.</a>

            <br><br>
            
            The conditions inside ICE detention centers are costing innocent lives. ICE possesses the independent discretion to 
            release its civil offenders. How many lives will be lost before action is taken?


        </p>
    </div>
    <div class="w3-col l6 s12">
        <div class="img" style="padding:0px">
            <figure>
                <img src="cellSize.png" alt="Trulli" style="width:90%; margin: 20px;">
                <br>
                <figcaption>Facilities cram detainees into small 250 square foot cells, making social distancing impossible. 
                    Sources: U.S. Census Bureau, <a href="https://www.rclco.com/publication/honey-i-shrunk-the-apartments-average-new-unit-size-declines-7-since-2009/">RCLCO.</a>
                </figcaption>
            </figure>
        </div>

        <div class="img" style="padding:0px">
            <figure>
                <img src="test_dist.png" alt="Trulli" style="width:100%; margin: 20px;">
                <br>
                <figcaption>Test-positivity rates as of June 9, 2020. ICE has tested a substantially smaller proportion of 
                    detainees than the CDC recommends. </figcaption>
            </figure>
        </div>

    </div>
</div>

<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<script src="mapVis.js"></script>
<script src="brushVis.js"></script>
<script src="facilityGraph.js"></script>
<script src="baseballCard.js"></script>
<script src="main.js"></script>
<script src="chart.js"></script>

</body>
</html>