<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-row l8 s12">
            <!-- Blog entry -->
            <!-- <header class="w3-container w3-center w3-padding-32"> -->
            <div class="w3-card-4 w3-margin"
                 style="height: 100%; background: white; margin: 30px; background-image: url('barbed.jpg');background-size: cover;">
                <div class="title" style="padding-bottom: 50px;">
                    <h1 class="w3-container w3-card"
                        style="font: Franklin; border: 1px solid #275889;float: left; margin: 20px; background-color: white; opacity: .90; padding: 20px;">
                        <b>ICE COVID-19 Information</b></h1>
                    <p class="w3-container w3-card"
                        style="border: 1px solid #bc541e;float: right; margin: 20px; background-color: white; opacity: .90; padding: 20px;">
                        Compiled by <b>the Harvard
                            College Data Analytics Group</b> under the auspices of <b>Human Rights First</p>
                <div style="height: 15vh"></div>
                <div class="w3-container w3-card"
                     style="border: 1px solid #f1ac7b; background-color: white; opacity: 0.85; padding: 20px; margin: 20px">
                    <p style="font-size: medium;"> This database tracks instances of COVID-19 in ICE detention centers
                        across the country. To date, <span id="positives"></span> ICE detainees have tested positive for
                        COVID-19. This number continues to rapidly climb as facilities cramp detainees into small shared
                        living spaces and ration PPE. In early May, the inevitable occured: after being denied release,
                        the first ICE detainee tragically passed away from COVID-19.
                        The map below provides an opportunity to learn about how the pandemic has infiltrated each ICE
                        detention center differently. We then report data on testing administration and bring the map to
                        life by tracking the lived experiences of detainees held at three key detention centers: Otay
                        Mesa, Adelanto and __.</p>
                </div>
            </div>
        </div>
    </div>

        <!-- </header> -->

        <div class="w3-row l8 s12">

            <div class="w3-col l4 s8">

                <div class="w3-row l4 s8">
                    <!-- Posts -->
                    <div class="w3-card w3-margin">
                        <div class="w3-container w3-padding"
                             style="background-color: #f1ac7b; height: 100%; width:100%">
                            <h4><b>ICE Centers Ranked by Confirmed Cases</b></h4>
                            <h5 class="w3-opacity">Select a facility from the list to view location and statistics.</h5>
                        </div>
                        <div style="height: 25vh; width: 100%; background: white">
                            <ul id="chartDiv" class="w3-ul w3-hoverable w3-white"
                                style="overflow-y: auto; height: 100%; width:100%">
                                <!-- ranking table is instered here-->
                            </ul>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="w3-row l4 s8">
                    <div class="w3-card w3-margin w3-margin-top">

                        <!-- <div id="facilityGraphDiv" class="w3-container" style="height: 100%; width: 100%; background: white"></div> -->
                        <div id="baseballCard">
                            <!-- insert graph here -->
                            <div class="w3-card w3-container w3-white"
                                 style="height: 100%; width: 100%; background: #ffffff; padding: 0px;">
                                <div class="w3-container w3-padding"
                                     style="background-color: #f1ac7b; height: 100%; width:100%">
                                    <h4 id="title"
                                          style="display: inline-block; padding: 0px; font-size: large; font-weight: bold;"></h4>
                                </div>


                                <div id="graphcover">
                                    <div id="facilityGraphDiv" class="w3-container w3-white"
                                         style="height: 25vh; width: 100%"></div>
                                </div>

                                <div style=" opacity: 0.85; margin: 5px; padding: 15px">

                                    <ul class="card-text w3-container"
                                        style="list-style: none; padding-left: 6px; padding-bottom: 6px; font-size: 15px; font-weight: bold;">
                                        <li id="loc"></li>
                                        <li id="cases"></li>
                                        <li id="detainees"></li>
                                        <li id="operator"></li>
                                    </ul>

                                    <div id="globalbutton" style=" text-align: center">
                                        <button type="button" style="text-align: center" onclick="myFunction()">Return
                                            to
                                            global
                                            statistics
                                        </button>
                                    </div>
                                    <script>
                                        function myFunction() {
                                            baseballCard.prototype.init();
                                            var x = document.getElementById("facilityGraphDiv");
                                            x.style.display = "none";
                                        }
                                    </script>
                                    <br>
                                </div>
                            </div>
                            <!-- end my code for baseball card -->
                        </div>
                    </div>
                </div>


            </div>

            <div class="w3-col l8 s12">
                <!-- map -->
                <div class="w3-row l8 s12">
                    <div class="w3-card-4 w3-margin">
                        <div class="w3-container" style="background-color: #275889; color: white">
                            <h3><b>Confirmed COVID-19 Cases in ICE Detention Centers</b></h3>
                            <p style="float:left">Updated as of, <span class="w3-opacity"> <%= latestUpdate %> </span></p>
                            <p class="w3-opacity" style="float:right">Select a facility on the map to view statistics.</p>
                        </div>
                        <div class="w3-container w3-white"
                             style="display: inline-block; position: relative;overflow: hidden; height: 75vh;width: 100%;background: white;">
                            <div id="mapDiv" style="height: 100%; width: 100%; background: white"></div>
                        </div>
                        <div class="w3-container w3-white"
                             style="height: 100px; width: 100%; background: white; padding: 0;">
                            <div id="mapLegendDiv" style="height: 100%; width:100%; background: white"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="w3-row l8 s12">
            <div class="w3-col l4 s12">
                <div class="w3-card-4 w3-margin">
                    <div class="w3-container w3-padding" style="background-color: #f1ac7b; height: 100%; width:100%">
                        <h3><b>Limitations</b></h3>
                    </div>

                    <div style="height: 100%; width: auto; opacity: 0.85; margin: 5px; padding: 15px; background-color: white;">
                        <p style="font-size: medium;">While this database aims to provide a complete visualization of
                            the hidden epidemic, several limitations must be noted.
                            First, by public health standards, ICE has not tested enough detainees; half of all tests
                            yield positive results, so the total number of positive detainees may be higher than
                            indicated by ICE.
                            Second, ICE updates its data 2-3 days after detention centers confirm cases, indicating a
                            time lag.
                            Third, the data does not include information about positive tests among US Marshal Service
                            inmates and facility staffers; most detention centers are multi-purposed to house both US
                            Marshal Service inmates and ICE detainees.
                            Thus, the data included does not indicate the true level of pandemic severity at each listed
                            detention center. </p>
                    </div>
                </div>
            </div>

            <div class="w3-col l8 s12">
                <div class="w3-card-4 w3-margin">
                    <div class="w3-container" style="background-color:#275889; color: white">
                        <h3><b>Confirmed COVID-19 Cases in ICE Detention Centers (over time)</b></h3>
                        <h5>Updated as of, <span class="w3-opacity"> <%= latestUpdate %> </span></h5>
                    </div>
                    <div class="w3-container w3-white" style="height: 37vh; width: 100%; background: white;">
                        <div id="brushDiv" style="height: 100%; width: 100%; background: white"></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="w3-row l8 s12">
            <hr>

            <div class="w3-card-4 w3-margin"
                 style="height: 100%; background: white; margin: 20px; background-image: url('prison.jpg');background-size: cover;">

                <h3 class="w3-container w3-card"
                    style="float: left; margin: 20px; background-color: white; opacity: .70; padding: 20px;"><b>A story
                        about COVID in ICE Detention Centers</b></h3>

                <div style="height: 10vh"></div>
                <p class="w3-container" style="text-align: center; float: right;">
                        <span class="hcdagheader"
                              style="display: inline-block; background-color: white; opacity: .7; padding: 15px">By <b>Harvard
                            College Data Analytics Group</b></span></p>
                <div style="height: 10vh"></div>
                <div class="w3-container w3-card"
                     style="height: auto; width: auto; background-color: white; opacity: 0.7; margin: 20px; padding: 15px">
                    <p style="font-size: medium;"> Lorem Ipsum has been the industry's standard dummy text ever since
                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <p>
                    <button class="w3-button w3-padding-large w3-white w3-border" style="margin: 20px"
                            onclick="window.location.href = '/article'"><b>READ MORE »</b>
                    </button>
                </p>

            </div>

            <hr>

            <div class="w3-card-4 w3-margin"
                 style="height: 100%; background: white; margin: 20px; background-image: url('prison_hallway.jpg');background-size: cover;">

                <h3 class="w3-container w3-card"
                    style="float: left; margin: 20px; background-color: white; opacity: .70; padding: 20px;"><b>Adelanto: A COVID-free ICE Detention Center?</b></h3>

                <div style="height: 10vh"></div>
                <p class="w3-container" style="text-align: center; float: right;">
                        <span class="hcdagheader"
                              style="display: inline-block; background-color: white; opacity: .7; padding: 15px">By <b>Harvard
                            College Data Analytics Group</b></span></p>
                <div style="height: 10vh"></div>
                <div class="w3-container w3-card"
                     style="height: auto; width: auto; background-color: white; opacity: 0.7; margin: 20px; padding: 15px">
                    <p style="font-size: medium;"> ICE reports zero detainees have tested positive for COVID-19 in their Adelanto facility, California’s largest ICE detention center.
                        Despite a history of inadequate medical care and concerns about hygiene, only 15 people have been tested for the virus  at Adelanto.</p>
                </div>

                <p>
                    <button class="w3-button w3-padding-large w3-white w3-border" style="margin: 20px"
                            onclick="window.location.href = '/article'"><b>READ MORE »</b>
                    </button>
                </p>

            </div>

            <hr>

            <div class="w3-card-4 w3-margin"
                 style="height: 100%; background: white; margin: 20px; background-image: url('girl.jpg');background-size: cover;">

                <h3 class="w3-container w3-card"
                    style="float: left; margin: 20px; background-color: white; opacity: .70; padding: 20px;"><b>A story
                        about COVID in ICE Detention Centers</b></h3>

                <div style="height: 10vh"></div>
                <p class="w3-container" style="text-align: center; float: right;">
                        <span class="hcdagheader"
                              style="display: inline-block; background-color: white; opacity: .7; padding: 15px">By <b>Harvard
                            College Data Analytics Group</b></span></p>
                <div style="height: 10vh"></div>
                <div class="w3-container w3-card"
                     style="height: auto; width: auto; background-color: white; opacity: 0.7; margin: 20px; padding: 15px">
                    <p style="font-size: medium;"> Lorem Ipsum has been the industry's standard dummy text ever since
                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <p>
                    <button class="w3-button w3-padding-large w3-white w3-border" style="margin: 20px"
                            onclick="window.location.href = '/article'"><b>READ MORE »</b>
                    </button>
                </p>

            </div>
        </div><!-- END BLOG ENTRIES -->

    </div>


    <div class="w3-row l4">
        <!--        <div class="w3-card w3-margin w3-margin-top">-->
        <!--            <div class="w3-container w3-margin w3-margin-top"-->
        <!--                 style="margin: 30px; text-align: center; height: 100%; width: auto">-->
        <!--                <img src="girl.jpg" style="max-width:100%; max-height:100%;">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <hr>-->


        <!--        <div class="w3-card w3-margin">-->
        <!--            <div class="w3-container w3-padding" style="height:100%; width:100%; background-color:white">-->
        <!--                <div class="infographics" style="background-color: white">-->
        <!--                    <h3><b>Data Visualizations</b></h3>-->
        <!--                    <div class="infoLeft">-->
        <!--                        &lt;!&ndash;<img src="SOURCE" alt="Infographic #1">&ndash;&gt;-->
        <!--                        </img>-->
        <!--                    </div>-->
        <!--                    <div class="infoRight">-->
        <!--                        &lt;!&ndash;<img src="SOURCE" alt="Infographic #2">&ndash;&gt;-->
        <!--                        </img>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="w3-col l4 s12">
            <div class="w3-card w3-margin w3-margin-top">
                <p class="w3-card w3-center" style="text-align: center; background: white; padding: 10px;">
                    <a href="https://www.humanrightsfirst.org/">
                        <img src="hrf_logo.jpg" style="max-width:75%; max-height:75%; display: block; margin-left: auto;
                    margin-right: auto;" alt="Human Rights First Logo">
                    </a>
                    <br>
                    <a href="https://www.harvardanalytics.org/">
                        <img src="hcdag_logo.png"
                             style="max-width:85%; max-height:85%; display: block; margin-left: auto; margin-right: auto; "
                             alt="HCDAG Logo">
                    </a>
                </p>
            </div>
        </div>
        <div class="w3-col l4 s12">
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding" style="height:100%; width:100%; background-color: white">
                    <div class="acknowledgements" style="background-color: white">
                        <h3><b>Acknowledgements</b></h3>
                        <div class="info">
                            <p><h4><i>Authors</i></h4> This website is the result of a collaboration between the
                            <a href="https://www.harvardanalytics.org/" style="color:#275889"><i>Harvard College Data
                                    Analytics Group</i></a>
                            and
                            <a href="https://www.humanrightsfirst.org/" style="color:#275889"><i>Human Rights First</i></a>.

                            The main authors are <i>Anna Duffy</i>, <i>Paige Lee</i>, <i>Noah List</i>, <i>Jakob
                                Troidl</i>, <i>Kathryn Kuhar</i> and <i>Alex Domash</i>.
                            </p>
                        </div>
                        <div class="info">
                            <p><h4><a href="https://www.ice.gov/coronavirus" style="color:#275889"><i>ICE.gov</i></a>
                            </h4> We use a
                            webscraping algorithm to take a publicly-available
                            ICE detainee COVID-19 count from ice.gov</p>
                        </div>

                        <div class="infosec">
                            <p><h4>
                                <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_blog&stacked=h"
                                   style="color: #275889"><i>W3</i></a>
                            </h4> We utilized and modified a W3 template for the HTML and CSS of
                            this website </p>
                        </div>
                        <div class="infothird">
                            <p><h4>
                                <a href="http://bl.ocks.org/ElefHead/ebff082d41ef8b9658059c408096f782"
                                   style="color: #275889"><i>bl.ocks.org</i></a>
                            </h4> Our map visualization was derived from the
                            template by bl.ocks.org</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
</footer>
<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<!-- OWN JS -->
<script src="mapVis.js"></script>
<!--    <script src="scatterVis.js"></script>-->
<script src="brushVis.js"></script>
<script src="facilityGraph.js"></script>
<script src="baseballCard.js"></script>
<script src="main.js"></script>
<script src="chart.js"></script>


</body>
</html>