<!DOCTYPE html>
<html>
<title>COVID Inside ICE Facilities</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }

    @media only screen and (max-width: 768px) {
        #images {
            display: none;
        }

        #headercol {
            width: 100%
        }
    }
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Grid -->
    <div class="row">

        <div class="w3-row">
            <div id="headercol" class="w3-col w3-padding" style="float: left; width: 66%">

                <div class="w3-card-4 w3-margin w3-margin-top"
                     style="height: 100%; background: white; background-image: url('barbed_3.png'); background-size: cover; background-position: center;">

                    <div class="title">
                        <h1 class="w3-container w3-card"
                            style="height: 100%; font-family: Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                            <b>Detained In Danger: </b><br> The COVID-19 Pandemic Inside ICE Facilities</h1>
                        <p class="w3-container w3-card"
                           style="font-size: auto; height: 100%; width: auto; border: 1px solid #bc541e;float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                            Compiled by the <b>Harvard
                                College Data Analytics Group</b><br>under the auspices of <b>Human Rights First</b></p>
                        <div class="w3-container w3-card"
                             style="display: inline-block; border: 1px solid #f1ac7b; background-color: white; opacity: 0.92; margin: 20px; padding: 15px">
                            <p style="font-size: medium;">
                                This database tracks instances of COVID-19 in ICE detention
                                centers
                                across the country. To date, <b><span id="positives"></span> ICE detainees have tested
                                    positive
                                    for
                                    COVID-19.</b> This number continues to rapidly climb as facilities cramp detainees
                                into small
                                shared
                                living spaces and ration PPE. In early May, the inevitable occured: after being denied
                                release,
                                the first ICE detainee tragically passed away from COVID-19.
                                The map below provides an opportunity to learn about how the pandemic has infiltrated
                                each
                                ICE
                                detention center differently. We then report data on testing administration and bring
                                the
                                map to
                                life by tracking the lived experiences of detainees.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="images" class="w3-col" style="float: left; width: 34%;">
                <div>
                    <img src="girl.jpg" class="w3-container w3-padding"
                         style="float: right; width: 100%; height: 100%; margin-top: 20px; margin-left: 5px"
                         alt="B&W image of girl">
                </div>
                <div>
                    <img src="flag.png" class="w3-container w3-padding"
                         style="float: right; width: 100%; height: 100%; margin-top: 20px; margin-left: 5px"
                         alt="B&W image of flag">
                </div>
            </div>

        </div>


        <div class="w3-row l8 s12">

            <div class="w3-col l4">

                <div class="w3-row">
                    <!-- Posts -->
                    <div class="w3-card w3-margin" style="background-color: white;">
                        <div class="w3-container w3-padding"
                             style="background-color: #f1ac7b; height: 100%; width:100%">
                            <h4 style="font-family: Libre Franklin, sans-serif; "><b>ICE Centers Ranked by Confirmed
                                    Cases</b></h4>
                            <h5 class="w3-opacity">Select a facility from the list to view location and statistics.</h5>
                        </div>
                        <div style="height: 25vh; width: 100%; background: white">
                            <ul id="chartDiv" class="w3-ul w3-hoverable w3-white"
                                style="overflow-y: scroll; height: 100%; width:100%;">
                                <!-- ranking table is instered here-->
                            </ul>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="w3-row">
                    <div class="w3-card w3-margin w3-margin-top">

                        <!-- <div id="facilityGraphDiv" class="w3-container" style="height: 100%; width: 100%; background: white"></div> -->
                        <div id="baseballCard">
                            <!-- insert graph here -->
                            <div class="w3-card w3-container w3-white"
                                 style="height: 100%; width: 100%; background: #ffffff; padding: 0px;">
                                <div class="w3-container w3-padding"
                                     style="background-color: #f1ac7b; height: 100%; width:100%">
                                    <h4 id="title"
                                        style="display: inline-block; padding: 0px; font-size: large; font-weight: bold;"></h4>
                                </div>


                                <div id="graphcover">
                                    <div id="facilityGraphDiv" class="w3-container w3-white"
                                         style="height: 25vh; width: 100%"></div>
                                </div>

                                <div style=" opacity: 0.85; margin: 5px; padding: 15px">

                                    <ul id="globalStats" class="card-text w3-container"
                                        style=" padding-left: 15px; padding-bottom: 6px; font-size: 20px;">
                                        <li> There are <span style="font-weight: bold"><span id="cases"></span> total confirmed cases</span>
                                            among ICE detainees.
                                        </li>
                                        <li>ICE has administered <span style="font-weight: bold"><span
                                                        id="detainees"></span> COVID-19 tests</span>.
                                        </li>
                                        <li> There are <span style="font-weight: bold"><span id="operator"></span> detainees in ICE custody</span>.
                                        </li>
                                    </ul>

                                    <ul id="facilityStats"
                                        style=" display: none; padding-left: 15px; padding-bottom: 6px; font-size: 20px;">

                                        <li><span id="cases"></span></li>
                                        <li><span id="detainees"></span></li>
                                        <li><span id="loc"> </span></li>
                                        <li><span id="operator"></span></li>

                                    </ul>


                                    <div id="globalbutton"
                                         style="font-family: Libre Franklin, sans-serif; text-align: center">
                                        <br>
                                        <button type="button" class="btn" style="text-align: center"
                                                onclick="myFunction()">Return
                                            to
                                            global
                                            statistics »
                                        </button>
                                    </div>
                                    <script>
                                        function myFunction() {
                                            baseballCard.prototype.init();
                                            var x = document.getElementById("facilityGraphDiv");
                                            x.style.display = "none";
                                        }
                                    </script>
                                    <br>
                                </div>
                            </div>
                            <!-- end my code for baseball card -->
                        </div>
                    </div>
                </div>


            </div>

            <div class="w3-col l8">
                <!-- map -->
                <div class="w3-row l8 s12">
                    <div class="w3-card-4 w3-margin">
                        <div class="w3-container" style="background-color: #275889; color: white">
                            <h3 style="ffont-family: Libre Franklin, sans-serif;">Confirmed COVID-19 Cases in ICE
                                Detention Centers</h3>
                            <p style="float:left">Updated as of, <span class="w3-opacity"> <%= latestUpdate %> </span>
                            </p>
                            <p class="w3-opacity" style="float:right">Select a facility on the map to view
                                statistics or click a state to zoom in.</p>
                        </div>
                        <div class="w3-container w3-white"
                             style="display: inline-block; position: relative; overflow: hidden; height: 75vh;width: 100%;background: white;">
                            <div id="mapDiv" style="height: 100%; width: 100%; background: white;">

                            </div>

                            <button id="zoom_btn" class="btn" style="display: none; top: 93%; left: 85%;"
                                    onclick="resetMapZoom()">-
                            </button>


                        </div>
                        <div class="w3-container w3-white"
                             style="height: 100px; width: 100%; background: white; padding: 0;">
                            <div id="mapLegendDiv" style="height: 100%; width:100%; background: white"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="w3-row l8" >
            <div class="w3-card-4 w3-margin" style="background-color: white">
                <div class="w3-container w3-padding" style="background-color: #f1ac7b;">
                    <h4 style="font-family: Libre Franklin, sans-serif; "><b>Limitations</b></h4>
                </div>

                <div style="width: auto; opacity: 0.85; margin: 5px; padding: 15px; background-color: white;">
                    <p style="font-size: medium;">While this database aims to provide a complete visualization of
                        the hidden epidemic, several limitations must be noted.
                        First, by public health standards, ICE has not tested enough detainees; half of all tests
                        yield positive results, so the total number of positive detainees may be higher than
                        indicated by ICE.
                        Second, ICE updates its data 2-3 days after detention centers confirm cases, indicating a
                        time lag.
                        Third, the data does not include information about positive tests among US Marshal Service
                        inmates and facility staffers; most detention centers are multi-purposed to house both US
                        Marshal Service inmates and ICE detainees.</p>
                </div>
            </div>

        </div>

        <div class="w3-row l8" style="width: 100%">
            <div class=" w3-card-4 w3-margin">

                <div class="w3-container" style="background-color:#275889; color: white">
                    <h3 style="font-family: Libre Franklin, sans-serif;"><b>Confirmed COVID-19 Cases in ICE Detention
                            Centers (over time)</b></h3>
                    <h5>Updated as of, <span class="w3-opacity"> <%= latestUpdate %> </span></h5>
                </div>

                <div id="brushDiv" style="background: white; height: 30vh"></div>


            </div>
        </div>

    </div>


    <div class="w3-row l8 s12">
        <hr>
        <div class="w3-card-4 w3-margin"
             style="height: 100%; background: white; margin: 20px; background-image: url('prison.jpg');background-size: cover; background-position: top;">

            <h3 class="w3-container w3-card"
                style="font-family: Libre Franklin, sans-serif; float: left; margin: 20px; background-color: white; opacity: .8; padding: 20px;">
                <b>What ICE’s
                    Numbers Tell Us… And What They Don’t.</b></h3>
            <p class="w3-container w3-card"
               style="font-size: 20px; font-family: Libre Franklin, sans-serif; text-align: center; float: right; background-color: white; opacity: .8; margin: 20px; padding: 20px">
                By <b>Anna Duffy</b></p>
            <!--                <div style="height: 12vh"></div>-->
            <p class="w3-container w3-card"
               style="display: inline-block; width: auto; background-color: white; opacity: 0.8; margin: 20px; padding: 20px; font-size: medium;">
                Long before the pandemic, ICE detention centers gained a reputation for inhumane treatment, poor
                sanitation, and lacking accountability. Now, with a pandemic ravaging the United States, cases
                inevitably skyrocket in ICE detention centers. The facility conditions make observing CDC guidelines
                like 30-second handwashing, 6-foot social distancing, and 14-day quarantines impossible. Yet the already
                alarming positive case numbers reported by ICE only show half the picture.</p>
            <button class="w3-button w3-padding-large w3-white w3-border"
                    style="font-family: Libre Franklin, sans-serif; float: middle; margin: 20px"
                    onclick="window.location.href = '/article'"><b>READ MORE »</b>
            </button>
        </div>

        <hr>

        <div class="w3-card-4 w3-margin"
             style="height: 100%; background: white; margin: 20px; background-image: url('prison_hallway.jpg');background-size: cover; background-position: center;">

            <h3 class="w3-container w3-card"
                style="font-family: Libre Franklin, sans-serif; float: left; margin: 20px; background-color: white; opacity: .8; padding: 20px;">
                <b>Adelanto:
                    A COVID-free ICE Detention Center?</b></h3>
            <p class="w3-container w3-card"
               style="font-size: 20px; font-family: Libre Franklin, sans-serif; text-align: center; float: right; background-color: white; opacity: .8; margin: 20px; padding: 20px">
                By <b>Kathryn Kuhar</b></p>
            <!--                <div style="height: 12vh"></div>-->
            <p class="w3-container w3-card"
               style="display: inline-block; width: auto; background-color: white; opacity: 0.8; margin: 20px; padding: 20px; font-size: medium;">
                ICE reports zero detainees have tested positive for COVID-19 in their
                Adelanto facility, California’s largest ICE detention center.
                Despite a history of inadequate medical care and concerns about hygiene, only 15 people have
                been tested for the virus at Adelanto.</p>
            <button class="w3-button w3-padding-large w3-white w3-border"
                    style="font-family: Libre Franklin, sans-serif; float: middle; margin: 20px"
                    onclick="window.location.href = '/adelanto_article'"><b>READ MORE »</b>
            </button>
        </div>

        <hr>

        <div class="w3-card-4 w3-margin"
             style="height: 100%; background: white; margin: 20px; background-image: url('barbed.jpg');background-size: cover; background-position: center">

            <h3 class="w3-container w3-card"
                style="font-family: Libre Franklin, sans-serif; float: left; margin: 20px; background-color: white; opacity: .8; padding: 20px;">
                <b>ICE Continues
                    to Transfer Detainees Between Facilities, <br>
                    as COVID-19 Cases Spike in Detention Centers</b></h3>
            <p class="w3-container w3-card"
               style="font-size: 20px; font-family: Libre Franklin, sans-serif; text-align: center; float: right; background-color: white; opacity: .8; margin: 20px; padding: 20px">
                By <b>Alex Domash</b></p>
            <!--                <div style="height: 12vh"></div>-->
            <p class="w3-container w3-card"
               style="display: inline-block; width: auto; background-color: white; opacity: 0.8; margin: 20px; padding: 20px; font-size: medium;">
                ICE is regularly transferring immigrant detainees between facilities, despite the high-risk of moving
                detainees during a pandemic. The transfer policy has shuffled thousands of immigrant detainees across
                the country in recent months -- helping COVID-19 to spread between detention centers.</p>
            <button class="w3-button w3-padding-large w3-white w3-border"
                    style="font-family: Libre Franklin, sans-serif; float: middle; margin: 20px"
                    onclick="window.location.href = '/transfers_article'"><b>READ MORE »</b>
            </button>
        </div>
    </div><!-- END BLOG ENTRIES -->

    <div class="w3-row l8 s12">

        <div class="w3-col l4 s12">
            <div class="w3-row l8 s12">
                <div class="w3-card w3-margin w3-margin-top">
                    <p class="w3-card w3-center" style="text-align: center; background: white; padding: 10px;">
                        <a href="https://www.harvardanalytics.org/">
                            <img src="hcdag_logo.png"
                                 style="max-width:85%; max-height:85%; display: block; margin-left: auto; margin-right: auto; "
                                 alt="HCDAG Logo">
                        </a>
                    </p>
                </div>
            </div>
            <div class="w3-row l8 s12">
                <div class="w3-card w3-margin w3-margin-top text-center">
                    <p class="w3-card w3-center"
                       style="text-align: center; background: white; padding: 10px;">
                        <a href="https://www.humanrightsfirst.org/">
                            <img src="hrf_logo.jpg"
                                 style="max-width:70%; max-height:70%; display: block; margin-left: auto; margin-right: auto"
                                 alt="Human Rights First Logo">
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-col l4 s12">
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding" style="height:100%; width:100%; background-color: white">
                    <div class="acknowledgements" style="background-color: white">
                        <h3 style="font-family: Libre Franklin, sans-serif;"><b>Resources</b></h3>
                        <div class="info">
                            You can download our database as .csv files. The history of infections for each facility is
                            provided <a href="dailydetentioncases.csv" download style="color: #275889">here</a>.
                            Our data about the detention facilities can be found <a href="facilities.csv" download
                                                                                    style="color: #275889">here</a>.
                            Please cite this project accordingly.
                            For article related questions please contact <a href="mailto:duffyanna29@gmail.com"
                                                                            style="color: #275889">Anna Duffy</a>.
                            For data and website related questions please contact <a
                                    href="mailto:jakob.troidl@googlemail.com" style="color: #275889">Jakob Troidl</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="w3-col l4 s12">
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding" style="height:100%; width:100%; background-color: white">
                    <div class="acknowledgements" style="background-color: white">
                        <h3 style="font-family: Libre Franklin, sans-serif;"><b>Acknowledgements</b></h3>
                        <div class="info">
                            <p><h4 style="font-family: Libre Franklin, sans-serif;"><i>Authors</i></h4> This website is
                            the result of a collaboration between the
                            <a href="https://www.harvardanalytics.org/" style="color:#275889"><i>Harvard College Data
                                    Analytics Group</i></a>
                            and
                            <a href="https://www.humanrightsfirst.org/" style="color:#275889"><i>Human Rights First</i></a>.

                            The main authors are <i>Anna Duffy</i>, <i>Paige Lee</i>, <i>Noah List</i>, <i>Jakob
                                Troidl</i>, <i>Kathryn Kuhar</i> and <i>Alex Domash</i>.
                            </p>
                        </div>
                        <div class="info">
                            <p><h4><a href="https://www.ice.gov/coronavirus"
                                      style="font-family: Libre Franklin, sans-serif; color:#275889"><i>ICE.gov</i></a>
                            </h4> We use a
                            webscraping algorithm to take a publicly-available
                            ICE detainee COVID-19 count from ice.gov</p>
                        </div>

                        <div class="infosec">
                            <p><h4>
                                <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_blog&stacked=h"
                                   style="font-family: Libre Franklin, sans-serif; color: #275889"><i>W3</i></a>
                            </h4> We utilized and modified a W3 template for the HTML and CSS of
                            this website </p>
                        </div>
                        <div class="infothird">
                            <p><h4>
                                <a href="http://bl.ocks.org/ElefHead/ebff082d41ef8b9658059c408096f782"
                                   style="font-family: Libre Franklin, sans-serif; color: #275889"><i>bl.ocks.org</i></a>
                            </h4> Our map visualization was derived from the
                            template by bl.ocks.org</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- END w3-content -->
</div>

<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<!-- OWN JS -->
<script src="mapVis.js"></script>
<script src="brushVis.js"></script>
<script src="facilityGraph.js"></script>
<script src="baseballCard.js"></script>
<script src="main.js"></script>
<script src="chart.js"></script>


</body>
</html>