<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>

<header class="w3-card w3-margin-top w3-container w3-center w3-padding-32 w3-margin"
        style="height: 100%; background-image: url('barbed.jpg');background-size: cover; background-position: center;">
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card" onclick="window.location.href = '/'"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px; cursor: pointer;">
                <b>Detained In Danger: </b> <br> The COVID-19 Epidemic Inside ICE Facilities</h1>
            <p class="w3-container w3-card"
               style="font-size: auto; height: 100%; width: auto; border: 1px solid #bc541e;float: right; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                Compiled by <b>Anna Duffy </b><br>under the auspices of <b>Human Rights First</b></p>
        </div>
    </div>
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                <b>Detained in danger at Otay Mesa: Over 200 detainees test positive for COVID-19</b></h1>
        </div>
    </div>
</header>


<div class="w3-padding-32 w3-center" style="display: inline-block; background: white; margin: 30px; padding: 2%">
    <div class="w3-col s12">

        <p style="font-size: medium; text-align: justify">

            2 weeks ago, Luis tested positive for COVID-19. Still coughing, now Luis is returned to his original cell to
            sleep amongst uninfected detainees at Otay Mesa Detention Center in San Diego, CA.

            <br><br>

            Meanwhile, Luis struggles to receive adequate medical care. Luis’s symptoms are compounded by his
            pre-existing condition, a lung disease that causes inflammation.

            <br><br>

            For weeks, Luis’s attorney, Kirsten Zittlau, has filed requests and reconsiderations for release. Held by
            ICE for only a civil offense, Luis is not a flight risk, nor is he a threat to the general population.
            Still, ICE refuses to budge. Luis has one prior non-violent drug charge from over 10 years ago, which ICE
            leverages to continue to detain Luis.

            <br><br>

            “I send emails and no one responds,” reports Ms. Zittlau.

            <br><br>

            The immigration attorney worries for Luis. Besides the physical risk of COVID, the facility has also slashed
            mental health resources. Luis suffers from trauma; several years ago while in Mexico, Luis was kidnapped for
            nearly 50 days due to drug cartel activity. After escaping, Luis fled to the United States to hide for his
            life. Before the pandemic, Luis saw a counselor once each week. Now, the counselor resources have been
            abandoned by ICE. Luis and Ms. Zittlau continue to fight for release.

            <br><br>

            Luis is not alone in his plight.

            <br><br>

            At Otay Mesa Detention Facility, <a
                    href="https://www.latimes.com/california/story/2019-08-19/immigrant-detention-medical-care-lawsuit"
                    style="color:#275889; font-weight: bold">233 people</a> have tested positive for COVID-19. 162 are ICE detainees and 71
            are U.S. Marshals Service inmates. Dozens of staff from CoreCivic, medical, ICE, and the U.S. Marshals
            Service have also tested positive. The San Diego facility has the <a
                    href="https://www.ice.gov/coronavirus"
                    style="color:#275889; font-weight: bold">highest infected population</a> of all ICE
            detention facilities. While court decisions have forced ICE to reduce the detained population, <a
                    href="https://www.latimes.com/california/story/2020-05-29/preliminary-injunction-ice-detainees"
                    style="color:#275889; font-weight: bold">over 700 remain inside</a>; 489 detainees for civil proceedings and 269 inmates for criminal reasons.

            <br><br>

            Cases at Otay Mesa <a
                    href="https://www.sandiegouniontribune.com/news/immigration/story/2020-03-31/employee-at-otay-mesa-detention-center-being-tested-for-covid-19-after-showing-symptoms"
                    style="color:#275889; font-weight: bold">began with a guard</a> - a sick employee who primarily worked with ICE detainees and last
            visited the facility on March 21. Ten days later, the facility announced the guard’s test results. Since
            then, cases have skyrocketed. The first detainee who tested positive worked in the kitchen, and soon after,
            many other <a
                    href="https://theintercept.com/2020/05/24/ice-detention-coronavirus-death/"
                    style="color:#275889; font-weight: bold">kitchen workers</a> came down with the virus.

            <br><br>

            The first fatality in ICE custody also occurred at Otay Mesa Detention Center. Carlos Ernesto Escobar Mejia,
            an asylum seeker with diabetes, high blood pressure, and heart problems, contracted the virus in April. Just
            before his health rapidly deteriorated, Judge Lee O’Connor denied Escobar Mejia’s bond, deeming the amputee
            detainee who had never missed a hearing over the last 8 years a <a
                    href="https://www.sandiegouniontribune.com/news/immigration/story/2020-05-06/first-ice-detainee-dies-from-covid-19-after-being-hospitalized-from-otay-mesa-detention-center?_amp=true&__twitter_impression=true"
                    style="color:#275889; font-weight: bold">“flight risk.”</a> Although Escobar Mejia
            repeatedly pled for more medical assistance, he was only provided with ibuprofen until he reached his
            deathbed. <a
                    href="https://theintercept.com/2020/05/24/ice-detention-coronavirus-death/"
                    style="color:#275889; font-weight: bold">Escobar Mejia died on May 6</a>.

            <br><br>

            The facility blueprint, tight quarters, and poor sanitation have exacerbated the already highly contagious
            disease. According to CoreCivic documents, low and medium-security inmates, like most ICE detainees held for
            civil reasons, are detained in pods shared by 90. The pods include a common room with tables, a communal
            bathroom, and numerous cells. Inside the cell are bunks for two to eight detainees. The eight-person cells
            are six by eight meters--approximately 250 square feet.

            <br><br>

            “Social distancing is quite literally impossible inside these pods,” reports Ginger Jacobs, an attorney
            fighting for the release of Omar.

            <br><br>

            The blueprints also make an effective quarantine nearly impossible. Instead, <a
                    href="https://www.sandiegouniontribune.com/news/immigration/story/2020-05-08/65-more-medically-vulnerable-ice-detainees-released-from-otay-mesa-detention-center-after-judges-order"
                    style="color:#275889; font-weight: bold">ICE practices “cohorting.”</a> Sick
            detainees visit the medical center. Regardless of whether the medical center agrees to test the detainee,
            the detainee then returns to the cell to live amongst their pod of 50 to 90 people. Only after a test comes
            back positive does ICE remove the detainee from the cell and transfer them to a COVID-positive pod.
            Meanwhile, ICE cohorts the entire pod exposed to COVID, isolating the exposed pod together for two weeks to
            monitor whether anyone develops symptoms. But every time a new detainee from the pod tests positive, the 14
            days re-start. The problem with cohorting, as pointed out by both Ms. Jacobs and Ms. Zittlau, is that
            detainees are essentially quarantined with a group of 50 to 90 exposed individuals, in stark contrast from
            CDC guidelines.

            <br><br>

            Omar, Ms. Jacob’s client and a 32-year-old detainee at Otay Mesa, recalls two fellow inmates testing
            positive in his cell of eight. “They don’t tell you you’re positive. The guards just come into the cell and
            say, c’mon, you’re going to medical.” Medical: a code word for coronavirus positive.

            <br><br>

            Five days later, the positive detainees returned to Omar’s cell, still showing symptoms.

            <br><br>

            Omar tells me he has felt sick. “I ask for medicine, but they won’t give me any pills.” Omar has experienced
            fevers, but the facility refuses to test him.

            <br><br>
v
            “[ICE] only tests the really bad ones. You’ve got to have at least 3 of the symptoms to receive the test,”
            recounts Omar. Feverish symptoms and sharing 250 square feet with two positive detainees do not qualify Omar
            for testing.

            <br><br>

            Omar’s testimony helps explain the testing data shared by CoreCivic. CoreCivic reports a test positivity
            rate in excess of 70 percent. The national benchmark? 10 percent. Given that the overwhelming majority of
            tests are positive, and that only those in the worst condition are tested, the total number of positive
            detainees may far surpass the already astronomical 233 positive cases. Furthermore, untested detainees
            exhibiting mild symptoms continue to spread the disease among the pod.

            <br><br>

            In addition to sharing tight spaces, Ms. Zittlau denounces the conditions as “deplorable.” No professional
            cleaners have visited the facility. Detainees--paid $1 per day for their labor--remain <a
                    href="https://www.sandiegouniontribune.com/opinion/story/2020-05-07/commentary-releasing-select-otay-mesa-detainees-would-save-money-and-lives"
                    style="color:#275889; font-weight: bold">responsible for
                cleaning</a> the communal bathrooms in pods. Hand sanitizer is banned due to the alcohol content. According to
            Ms. Zittlau, whether the soap is refilled depends on the guard on duty.

            <br><br>

            At the onset of the outbreak, detainees used <a
                    href="https://www.latimes.com/california/story/2020-04-11/detainees-at-otay-mesa-detention-center-were-offered-masks-but-only-if-they-signed-contracts"
                    style="color:#275889; font-weight: bold">rubber bands, panty liners, and cut-up shirts</a> to cover their
            faces. On April 10, masks finally arrived, but CoreCivic forced detainees to <a
                    href="https://www.sandiegouniontribune.com/news/california/story/2020-04-13/detained-immigrants-plead-for-masks-protection-from-virus"
                    style="color:#275889; font-weight: bold">sign a contract</a> that removed
            liability from CoreCivic should the detainees contract the virus. Most detainees, unable to read English,
            refused to sign without an attorney. Guards threatened pepper spray on three women who demanded masks
            without signing. Five hours later, the contracts were abandoned. Now, detainees receive masks once every two
            weeks. Still, Omar says, the masks are “the flimsy paper kind. We only receive the masks every two weeks.”

            <br><br>

            Most detainees pass their days inside the cells instead of in the pods. All outdoor time has ceased since
            the onset of the pandemic. CoreCivic also closed the kitchen. Now, detainees are fed bologna sandwiches 3
            times per day. Omar tells me, “We’re treated like animals.”

            <br><br>

            Several measures have been taken by ICE and CoreCivic to attempt to curb the pandemic. The facility now
            operates at under <a
                    href="https://www.latimes.com/california/story/2020-05-29/preliminary-injunction-ice-detainees"
                    style="color:#275889; font-weight: bold">38% capacity</a>, but due to cohorting practices, most cells like Omar’s remain full;
            depopulation has not been evenly distributed across pods and cells.

            <br><br>

            The ACLU and various networks of immigration attorneys have fought for releases. In April, Dana Sabraw
            ordered the <a
                    href="https://www.aclusandiego.org/wp-content/uploads/2020/04/2020-04-30-38-ORD-Granting-TRO.pdf"
                    style="color:#275889; font-weight: bold">release of all medically vulnerable</a> ICE detainees; but in a <a
                    href="https://www.desertsun.com/story/news/2020/05/26/judge-refuses-free-34-ice-detainees-amid-otay-mesa-covid-19-outbreak/5263750002/"
                    style="color:#275889; font-weight: bold">May 26 decision</a>, Sabraw walked back
            his earlier ruling, explaining that conditions have changed at the facility since his first directive. In a
            separate decision, Sabraw also declined the ACLU’s request to release medically vulnerable inmates of the
            U.S. Marshals Service. So for now, Omar and Luis remain detained in danger. One COVID-19 positive, the other
            battling to stay healthy. Both fighting to survive another day.

            <br><br>

            According to Kirsten Zittlau, Luis’s attorney, “ICE would be perfectly fine if my client died.”


        </p>
    </div>
<!--    <div class="w3-col l6 s12">-->
<!--        <div class="img" style="padding:0px">-->
<!--            <figure>-->
<!--                <img src="medicine.jpg" alt="Trulli" style="width:90%; margin: 20px;">-->
<!--                <br>-->
<!--                <figcaption>Many detainees report that they have not received adequate medical attention while in-->
<!--                    Adelanto.-->
<!--                </figcaption>-->
<!--            </figure>-->
<!--        </div>-->

<!--    </div>-->
</div>


</html>