<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Times New Roman", sans-serif}
</style>
<body class="w3-light-grey">

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>Card sample</b></h3>
        </div>



    <div class="card border-dark" style="width: 18rem">
    <!-- include graph here of infections over time overlaid 
    over US infections over time (scaled?) -->
    <img class="card-img-top" src="samplegraph.png" alt="Card image cap">
    <div class="card-body" style="background-color:lightgray">
        <h5 class="card-title"><b>Otay Mesa Detention Center</b></h5>
    </div>
    <ul class="list-group list-group-flush ">
        <li class="list-group-item border-dark"><b>Location:</b> San Diego, California</li>
        <li class="list-group-item border-dark"><b>Confirmed cases:</b> 132</li>
        <li class="list-group-item border-dark"><b>Total detainees:</b> 1461</li>
        <li class="list-group-item border-dark"><b>Operating group:</b> CoreCivic</li>
    </ul>
    <div class="card-body text-center">
        <a href="#" class="card-link" style="color:blue"><b>News Link</b></a>
    </div>
    </div>
    
    <br><br><br>

    <div class="card border-dark" style="width: 18rem">
        <img class="card-img-top" src="samplegraph.png" alt="Card image cap">
        <div class="card-body border-dark">
          <h4 class="card-title">Otay Mesa Detention Center</h4>
          <p class="card-text">
              <b>Location:</b> San Diego, California <br>  
              <b>Confirmed cases:</b> 132 <br>
              <b>Total detainees:</b> 1461 <br>
              <b>Operating group:</b> CoreCivic <br>
          </p>
          <div class="card-body text-center">
            <a href="#" class="card-link" style="color:blue"><b>News Link</b></a>
        </div>
        </div>
      </div>

      <br><br><br>

      <div class="card border-dark" style="width: 18rem">
        <img class="card-img-top border-dark" src="samplegraph.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Otay Mesa Detention Center</h4>
          <p class="card-text">
              is located in <b>San Diego, California</b> <br>  
              has <b>132</b> confirmed cases <br>
              has <b>1461</b> current detainees <br>
              is operated by <b>CoreCivic</b> <br>
          </p>
          <div class="card-body text-center">
            <a href="#" class="card-link" style="color:blue"><b>News Link</b></a>
        </div>
        </div>
      </div>

      <br><br><br>

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

    <!-- OWN JS -->
    <script src="mapVis.js"></script>
<!--    <script src="scatterVis.js"></script>-->
    <script src="brushVis.js"></script>
    <script src="main.js"></script>
</body>
</html>