<!DOCTYPE html>
<html>
<title>ICE COVID-19 Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="style.css">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Arial", sans-serif
    }
</style>
<body class="w3-white">
<header class="w3-card w3-margin-top w3-container w3-center w3-padding-32 w3-margin"
        style="height: 100%; background-image: url('barbed.jpg');background-size: cover; background-position: center;">
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card" onclick="window.location.href = '/'"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px; cursor: pointer;">
                <b>Detained In Danger: </b> <br> The COVID-19 Epidemic Inside ICE Facilities</h1>
            <p class="w3-container w3-card"
               style="font-size: auto; height: 100%; width: auto; border: 1px solid #bc541e;float: right; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                Compiled by <b>Alex Domash </b><br>under the auspices of <b>Human Rights First</b></p>
        </div>
    </div>
    <div class="w3-row l8 s12">
        <div class="title">
            <h1 class="w3-container w3-card"
                style="height: 100%; font-family:  Libre Franklin, sans-serif; border: 1px solid #275889; float: left; background-color: white; opacity: .90; margin: 20px; padding: 15px">
                <b>ICE Continues
                    to Transfer Detainees Between Facilities, <br>
                    as COVID-19 Cases Spike in Detention Centers</b>.</h1>
        </div>
    </div>
</header>


<div class="w3-padding-32 w3-center" style="display: inline-block; margin: 30px; padding: 2%">
    <div class="w3-col l6 s12">
        <p style='text-align: right'>
            <i style='font-size: medium'>June 9th, 2020</i>

            <br><br>
        </p>
        <p style="font-size: medium; text-align: justify">
            On March 30, Daniel Bayardo and nine other immigrant detainees were transferred from a county jail in
            Alamance, North Carolina to ICE’s Stewart Detention Center in Lumpkin, Georgia. The same evening, a pair of
            ambulances arrived at the Stewart facility. Two of the staff had just tested positive for coronavirus, and
            one inmate was reportedly seen “coughing up blood”, according to detainees.

            <br><br>

            The reason for the transfer, Bayardo said, was that ICE had a contract with the Alamance jail that limited
            immigrant detention in the facility to 45 days. On day 44, Bayardo and the other immigrant detainees were
            removed from the facility and herded to Georgia – despite the high-risk of being transferred during the
            coronavirus outbreak.

            <br><br>

            “The contract is more important to them than our safety,” said Bayardo.

            <br><br>

            The transfer took place weeks after the Trump Administration told Americans to avoid nonessential travel to
            prevent the spread of coronavirus. <a
                    href="https://www.cdc.gov/coronavirus/2019-ncov/community/correction-detention/guidance-correctional-detention.html"
                    style="color:#275889; font-weight: bold">Official CDC guidelines</a> at the time also stated that ICE detention
            facilities should “restrict transfers of incarcerated/detained persons to and from other jurisdictions and
            facilities.” Despite several lawsuits filed against ICE to stop moving detainees during the pandemic, ICE’s
            transfer policy continues to this day.

            <br><br>

            Bayardo’s short-lived experience in North Carolina was unnecessary from the outset. Bayardo was booked at
            the Folkston Processing Center in Charlton County, Georgia earlier this year, and for unexplained reasons,
            was moved to Alamance jail in mid-February. He was then transported back to Georgia in the end of March,
            this time to Stewart. ICE pays the village of Alamance <a
                    href="https://www.charlotteobserver.com/news/local/article233086147.html"
                    style="color:#275889; font-weight: bold">$6,750 per day</a> to house a minimum of 50 immigration
            detainees, which attorneys believe may explain why they were originally transferred there.

            <br><br>

            ICE officials have a long history of transporting detainees across America by air and bus, depending on bed
            availability, contract agreements, and security concerns. A former senior ICE official <a
                    href="https://www.propublica.org/article/coronavirus-ice-flights-detainee-sirous-asgari"
                    style="color:#275889; font-weight: bold">told ProPublica</a>
            that
            “for the most part, ICE’s tempo has been to move detainees in a way that thinks of them more as widgets, or
            as supply chain issues, than human beings.” During these transfers, as detainees are shuffled in and out of
            different overcrowded and poorly sanitized facilities and busses, they come into contact with thousands of
            other detainees. The potential for spreading germs is alarmingly high.

            <br><br>

            The reckless transferring policy is at least partially responsible for the exploding number of COVID-19
            cases in ICE detention centers (<b><span id="positives"></span> positive cases</b>). At an immigration
            detention center in
            Broward, Florida, the number of positive cases increased drastically by <a
                    href="https://www.sun-sentinel.com/coronavirus/fl-ne-coronavirus-numbers-spike-at-broward-ice-facility-20200520-v62esjzwxrhn7pfjekta3ldegi-story.html"
                    style="color:#275889; font-weight: bold">533 percent</a> on May 18, immediately
            after 33 detainees were transferred from Krome Detention Center in Miami-Dade County. Sixteen of these
            transfers tested positive after arriving in Broward – but not before being admitted to the facility and
            spreading the virus among detainees.

            <br><br>

            Similarly, transfers most likely instigated an outbreak at the Prairieland Detention Center in Alvarado,
            Texas in April – where 45 detainees have tested positive for Covid-19. The Dallas Morning News reported
            that, throughout April, <a
                    href="https://www.dallasnews.com/news/public-health/2020/05/19/11-immigrants-sue-ice-seeking-release-from-alvarado-detention-center-where-coronavirus-has-spread/"
                    style="color:#275889; font-weight: bold">more than 80 detainees</a>
            were transferred from the hotspots of New York and New Jersey
            to Prairieland. Dozens of these immigrants later tested positive for the coronavirus.

            <br><br>

            Throughout the country, many states have imposed <a
                    href="https://www.usatoday.com/story/travel/news/2020/04/04/coronavirus-travel-restrictions-us-states-quarantine-requirements/2947021001/"
                    style="color:#275889; font-weight: bold">14-day quarantines</a> on travelers arriving from other states.
            For Bayardo and the other detainees transferred to Stewart, no quarantine was imposed -- until after a few
            of them began coughing in the facility.

            <br><br>

            Bayardo, a 20-year-old from northern Honduras, is seeking asylum in the United States after facing severe
            persecution in his home country for his sexual orientation. “Being gay in Honduras is very dangerous,”
            Bayardo said in a phone interview this week from Georgia. “I suffered lots of discrimination and sexual
            abuse back home. Even now, I need to whisper, because it’s not safe to talk about these things here in the
            detention facility.”

            <br><br>

            Since first crossing the US-Mexico border in February 2019 to seek asylum, Bayardo has been held in five
            detention facilities in four different states. Sarah Owings, a Georgia-based immigration attorney who
            represents Bayardo, says ICE never informs her when they move her client. “They move detainees simply
            because they can,” Owings said. “It makes our job incredibly difficult, because different jurisdictions
            means different courts and oftentimes different laws. Especially now during the COVID-19 outbreak, it seems
            incredibly short-sighted and irresponsible.”

            <br><br>

            Before he was transferred to Stewart, Bayardo spent nearly 45 days in Alamance county prison, which he
            describes as dirty and disgusting. “The room was very small with 64 people, piled one on top of another,”
            Bayardo explained. “We were forced to clean our own pods with dirty mop water, which had been used in the
            previous rooms. None of the staff wore masks or gloves.” The jail held mostly American prisoners, and new
            inmates were constantly arriving. “We were very nervous they were bringing the coronavirus with them.”

            <br><br>

            On March 30, Bayardo was transferred from Alamance prison to the Stewart facility, a 1,900-bed ICE site in
            rural Georgia. The center, run by the for-profit private prison entity CoreCivic, is notorious for having
            poor health standards. Four men detained at Stewart <a
                    href="https://www.democracynow.org/2019/7/30/pedro_arriago_santoya_ice_custody_death"
                    style="color:#275889; font-weight: bold">have died</a> since May 2017, and one complaint filed by a
            detainee remarks, “they call this place a black hole for a reason.”

            <br><br>

            At Stewart, Bayardo says he and the other transfers had their temperatures taken upon arrival, and then
            entered into Stewart’s general population. But three days later, several of the recently transferred inmates
            developed a cough, and they were all placed in quarantine for 14 days. Since they first arrived at Stewart,
            the number of detainees testing positive for COVID-19 has gone from zero to 16.

            <br><br>

            “They are moving new people in here almost every day,” Bayardo said. “There is no space for social
            distancing. The distance between beds is very, very small.”

            <br><br>

            The staff at the facility consistently have downplayed the risk of coronavirus to detainees, telling them
            that the virus is “not very deadly.” Detainees also receive very limited information about positive cases at
            Stewart. The last time Bayardo was told an official number was over a month ago, when there were only five
            confirmed cases.

            <br><br>

            As Covid-19 rapidly spreads through ICE detention facilities, Bayardo and his attorney continue to battle
            for his release. Bayardo has a life-long history of asthma and takes regular medication, making him
            particularly susceptible to the virus in a facility where social distancing is impossible.

            <br><br>

            On April 24, following <a
                    href="https://www.washingtonpost.com/nation/2020/04/21/ice-coronavirus-detention-ruling/"
                    style="color:#275889; font-weight: bold">an order</a> issued by a federal judge that ICE must consider all detained
            immigrants at
            high risk of complications from COVID-19 for immediate release, Owings filed a petition for a humanitarian
            release for Bayardo. “He should have a strong case given his vulnerable condition,” said Owings, his
            attorney. “I worry about him everyday.” The court was supposed to review Bayardo’s case by April 30, but
            there has been no communication yet regarding a decision.

            <br><br>

            “I really, really don’t want to die in here,” Bayardo said over the phone, holding back tears. “I still have
            a strong will to live, and many unfulfilled dreams. It’s too dangerous for me to return home, but I don’t
            want to die in detention from coronavirus.” He adds, “this whole situation is too painful to bear. I haven’t
            committed a crime, so why do I feel so condemned?”

            <br><br>

            *Daniel Bayardo is a pseudonym


        </p>
    </div>
    <div class="w3-col l6 s12">

        <div class="img" style="padding:0px">
            <figure>
                <img src="daniel_map.png" alt="Trulli" style="width:90%; margin: 20px;">
                <br>
                <figcaption>Daniel Bayardo, a Honduran asylum-seeker, has been held in five detention centers in four
                    states since he was detained by ICE in 2019.
                    In March 2020, he was transferred twice for superfluous reasons, increasing his risk of contracting
                    and spreading COVID-19.
                </figcaption>
            </figure>
        </div>

    </div>
</div>

<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<script src="mapVis.js"></script>
<script src="brushVis.js"></script>
<script src="facilityGraph.js"></script>
<script src="baseballCard.js"></script>
<script src="main.js"></script>
<script src="chart.js"></script>

</body>

</html>