.pathOne {
    fill: steelblue;
    stroke: steelblue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 12vw;
    height: 20vh;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(49, 49, 49, 0.51);
    border: thin solid rgb(14,15,85);
    border-radius: 5px
    /*  pointer-events: none;	This line needs to be removed */

}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #898989;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #898989;
    stroke: #fff;
    stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
    fill: #BC541E;
}

div.tooltip {
    position: absolute;
    text-align: match-parent;
    width: auto;
    height: auto;
    padding: 3px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
.legend {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
}

.legend_title {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
}